.news {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.news-article {
    margin-top: 20px;
    margin-bottom: 20px;
}

.news-article-header {
    font-size: 110%;
}

.news-article-source {
    color: #BBB;
    font-size: 80%;
    font-style: italic;
}

.news-article-body {
    color: #BBB;
}