.meteo {
    display: block;
    color: #BBB;
    font-size: 150%;
    width: 20%;
    text-align: left;
    padding: 0px 15px;
    border-left: solid 1px white;
}

.meteo b {
    color: white;
}

.meteo .wi {
    color: white;
    font-size: 160%;
}

.meteo .meteo-top {
    margin-bottom: 5px;
}